body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.chrono {
  width: 80vh;
  position: absolute;
  top: 2vh;
  left: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
}

.chrono p {
  font-size: x-large;
  color: brown;
  border-top: 0;
}

.chronostart {
  width: 95vh;
  position: absolute;
  grid-row: 0;
  top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chronostart p {
  font-size: x-large;
  color: brown;
}

.mobile {

display:none;

}

@media screen and (max-width: 1020px) {

  .mobile {
    display: block;
   
  }

  .chrono {

    display: none;
  }

  .chronostart{
    display: none;
  }
}

