* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/src/assets/img/fond.jpg);
  background-size: cover;
}

.carreau {
  position: fixed;
  top: 25vh;
  left: 12vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 40vh;
  width: 70vw;
}

.CardItem {
  border: black solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 12vh;
  width: 7vw;
}

.blanc {
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 3;
  font-weight: bold;
  font-size: 2em;
}

.black {
  position: absolute;
  color: black;
  z-index: 3;
  font-weight: bold;
  font-size: 2em;
}

.CardItem h3 {
  position: absolute;
  color: rgb(203, 148, 201);
  z-index: 3;
  font-weight: bold;
  font-size: 1em;
  top: 12vh;
}
.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  vertical-align: bottom;
  z-index: 1;
}

.imgFace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  vertical-align: bottom;
}

#Video {
  width: 50vw;
}

.sitelogo {
  width: 5vw;
}

.gitlogo {
  width: 5vw;
}

a {
  font-size: larger;
  color: black;
}

.cardsdetail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.titre {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video {
  grid-area: 2 / 2 / 3 / 4;
  align-self: center;
  justify-self: center;
}
.language {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.description {
  grid-area: 2 / 4 / 3 / 5;
  align-self: center;
  justify-self: center;
}

.description p {
  margin-left: 28px;
  margin-right: 20px;
}
.Git {
  grid-area: 3 / 1 / 4 / 3;
  align-self: center;
  justify-self: center;
}
.site {
  grid-area: 3 / 3 / 4 / 5;
  align-self: center;
  justify-self: center;
}

.description p {
  font-size: 29px;
  color: black;
}

.logo {
  width: 3vw;
}
